@model my_portfolio_MVC.Models.Tbl_Procets
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni Proje Ekleme Sayfası</h2>
<form method="post">

    <label>Proje Adı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <p class=" text-danger">@Html.ValidationMessageFor(x => x.Name)</p>
    <br />
    <label>Görsel URL</label>
    @Html.TextBoxFor(x => x.imageUrl, new { @class = "form-control" })
    <p class=" text-danger">@Html.ValidationMessageFor(x => x.imageUrl)</p>
    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.Categoryid, (List<SelectListItem>)ViewBag.categories,  new { @class = "form-control bg-dark" })
    <p class=" text-danger">@Html.ValidationMessageFor(x => x.Categoryid)</p>
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 1, 5, new { @class = "form-control " })
    <p class=" text-danger">@Html.ValidationMessageFor(x => x.Description)</p>
    <br />
    <label>Github URLL</label>
    @Html.TextBoxFor(x => x.GitHubUrl, new { @class = "form-control" })
    <br />
    <p class=" text-danger">@Html.ValidationMessageFor(x => x.GitHubUrl)</p>
    <button class="btn btn-outline-success">Kaydet</button>
</form>

